$m-00: #ffb632;
$m-01: #6821ea;

$neu-01: #1c1b2d;
$neu-02: #5A5A5A;
$neu-03: #909090;
$neu-04: #6E6672;
$neu-05: #DDD;
$neu-06: #FFFFFF;

$bg-01: #f7f4fc;

$lg-01: #7138ef;
$lg-02: #9941eb;
$lg-03: #fda402;
$lg-04: #5ef8a3;
$lg-05: #ff4500;